
.DS_Store

__pycache__/

/statistics/
/plots/
/trainability/

history_no_tf.txt
history_tf.txt
profiling_stats.txt
comparison.txt
profiling_stats.txt
epochs.txt
history.txt
grad.txt
grad_cross.txt
grad_w_fid.txt
grad_fid.txt
summary.txt
file*
prova.py

pred_a.pdf
pred_b.pdf